html {
  height: 90%;
  color: #443e3b;
  background-color: white /*#F8F7FF*/;
}
h1 {
  font-family: "Dosis", sans-serif;
  font-size: 14vmin;
  font-weight: 800;
  text-align: center;
  margin-bottom:0;
}

h2 {
  font-family:  "Dosis", sans-serif;
  font-size: 4em; /* .618 of h1 */
  font-weight: normal;
  text-align: center;
}

h3, ol, ul {
  font-family:  "Source Sans Pro", sans-serif;
  font-size: 8.5vmin; /* .618 of h2 */
  font-weight: 100;
  text-align: left;
  padding-left: 2.5vw;
}

p, li, sub, body, h4{
  font-family:  "Source Sans Pro", sans-serif;
  font-size: 2.05vmin; /* .618 of h2 */
  font-weight: 100;
  text-align: left;
}

.home {
  font-size: 4em;
   font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
     text-align: right;
     position: relative;
      top:15%;
}

body {/*box!*/
  min-height:100%;
  position:relative;
  padding-bottom:[footer-height]
  width: 95vmin;
  margin: 0 auto;
  background-color: none;
}

footer {
    background-color: white;
    border-top-style: solid;
    border-top-width: 1px;
    border-color, color: #443e3c;
    padding: 1.25vw;
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
    text-align: center;
}
.footer { /* sticky footer*/
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height:[footer-height];
}

a:link {/* link styles */
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
color: inherit;
background-color: transparent;
text-decoration: none;
}
a:active {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

u,i:hover{
  cursor: pointer;
}

hr {
  /*background-color: #443e3c;*/
  border: 0.5px solid #443e3c;
}

.vl {
    border-left: 1px solid #443e3c;
    height: 6vmin;
    position: relative;
    top: 0;
    left: 50%;
}

.wrap {
  display: flex;
}

.left {
  background: #fcfcfc;
  flex-basis: 50%;

  height: 100vh;
  overflow: auto;
}

.right {
  background: #fffcfc;
  flex-basis: 50%;

}


@keyframes growIn {
  0% {
    transform: scale(1,0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shrinkIn {
  0% {
    transform: scale(1,20);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    top: 20%;
  }
  100%{
    top:50%;
  }
}


#myBtn {
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 18px; /* Increase font size */
}
