html {
  height: 90%;
  color: #463d49;
  background-color: white /*#F8F7FF*/;
}

@media only screen and (max-width: 600px) {
  html,body{
    height:85%;
}
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 14vmin;
  font-weight: 800;
  margin-bottom:0;
}

h2 {
  font-family:  "Dosis", sans-serif;
  font-size: 4em; /* .618 of h1 */
  font-weight: normal;
}

h3, ol, ul {
  font-family:  "Source Sans Pro", sans-serif;
  font-size: 8.5vmin; /* .618 of h2 */
  font-weight: 100;
  text-align: left;
  padding-left: 2.5vw;
  margin: 0 0 0 0;
}

p, li, sub, body, h4{
  color: #463d49;
  font-family:  "Source Sans Pro", sans-serif;
  font-size: 2.05vmin; /* .618 of h2 */
  font-weight: 100;
  text-align: left;
  list-style-type: none;
}

.home {
  color:#aca5af;
  font-size: 4em;
   font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
     text-align: right;
     position:absolute;
      bottom:14vmin;
      right:0px;
}

.selectoption,
.fa.fa-angle-left,
.fa.fa-angle-right{
  color:#aca5af;
  transition:400ms;
}

.selectoption:hover,
.fa.fa-angle-left:hover,
.fa.fa-angle-right:hover{
  color:#463d49;
  transition:400ms;
}

body {/*box!*/
  min-height:100%;
  position:relative;
  padding-bottom:[footer-height]
  width: 95vmin;
  margin: 0 auto;
  background-color: none;
}

footer {
    background-color: white;
    border-top-style: solid;
    border-top-width: 1px;
    border-color, color: #463d49;
    padding: 1.25vw;
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
    text-align: center;
}
.footer { /* sticky footer*/
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height:[footer-height];
}

a:link {/* link styles */
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
color: inherit;
background-color: transparent;
text-decoration: none;
}
a:active {
  color: #463d49;
  background-color: transparent;
  text-decoration: none;
}

u,i:hover{
  cursor: pointer;
}

hr {
  /*background-color: #463d49;*/
  border: 0.5px solid #463d49;
}

.vl {
    border-left: 1px solid #463d49;
    height: 6vmin;
    position: relative;
    top:27vmin;
    left:50%;
}

.wrap {
  display: flex;
}

.left {
  background: #fcfcfc;
  flex-basis: 50%;

  height: 100vh;
  overflow: auto;
}

.right {
  background: #fffcfc;
  flex-basis: 50%;

}


@keyframes growIn {
  0% {
    transform: scale(1,0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shrinkIn {
  0% {
    transform: scale(1,20);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform:none;
  }
  100%{
    transform: translate(2px,0px);
  }
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 12px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 1px solid #463d49; /* Remove borders */
    background:white;
    outline: none; /* Remove outline */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 18px; /* Increase font size */
}
